* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 10px;
}

.main_container {
    width: 300px;
    height: 450px;
    margin: auto;

    position: relative;
}

.slide_list {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10%;

    display: flex;
    position: relative;
}

.slide_list li {
    position: absolute;
    left: 100%;
}

.slide_list img {
    width: 300px;
    height: 400px;
}

.main_container>a {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

.main_container a img {
    width: 30px;
    height: 30px;
    opacity: .3;
    transition: .3s;
}

.main_container a img:hover {
    opacity: 1;
}

.btn_back {
    left: -20%;
}

.btn_foward {
    right: -20%;
}

.pager {
    display: flex;
    gap: 5px;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.pager a {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 100%;
    opacity: .3;
    cursor: pointer;
}

p {
    margin-top: 20px;
}

.nonVisible {
    visibility: hidden;
}

.pager .nowPage {
    opacity: 1;
    cursor: default;
}

.anime {
    transition: .5s;
}