.background {
    background: url(../IMG/pic3.jpeg) no-repeat 0/300px 450px;
    width: 300px;
    height: 450px;
    text-align: center;
    line-height: 450px;
    font-size: 100px;
    color: darkorange;

    display: inline-block;
    opacity: .5;
    margin-top: calc((100% - 450px));
}

/* ==================<요약>====================== */
/* 
    <요약>
    1) 배경 이미지와 텍스트를 div 하나에 담을 경우에 만약 opacity 속성을 부여하는 경우에 함께 묶어서 투명도가 걸리는데 배경과 텍스트를 분리할 경우에 opacity 속성 부여를 가를 수 있다.

*/

/* <연습>======================================== */

.container {
    position: absolute;
}

.container::after {
    content: "";
    width: 300px;
    height: 450px;
    background: url(../IMG/pic3.jpeg) no-repeat 0/300px 450px;
    display: block;
    opacity: .5;
}

.absolute {
    font-size: 100px;
    color: darkorange;
    left: calc((100% - 100px)/2);
    position: absolute;
    /* top: 50%;
    transform: translateY(-50%); */
    top: calc((100% - 132px)/2);
    z-index: 1;
}

.container {
    display: inline-block;
    margin-left: 10px;
}



/* ============================================================== */

.container {

    /* 
        container 가 인라인 블럭요소 처럼 크기가 결정되어야만
        span 을 배경의 중앙에 배치가 가능하므로 relative 가 아닌,
        absolute 나 fixed 로 지정.
    */
    /* position: absolute; */
}

.absolute {
    /* font-size: 100px;
    color: darkorange;

    position: absolute;
    
    left:calc((100% - 100px)/2);
   top:50%;
   transform: translateY(-50%); */
}

/* 
    absolute 나 fixed 는 인라인 블럭요소 처럼 컨텐트 만큼의 크기를
    가지는 것뿐, 실제 인라인 블럭요소와 동일하지는 않음에 주의.
    예시에서의 container 는 absolute 나 fixed 를 지정하였더라도
    본래 블럭요소의 위치를 그대로 보존함에 따라 인라인 블럭요소로
    변경하여 위치를 변경.
*/
.container {
    /* display: inline-block;
    margin-left: 10px; */
}